In [2]:
import sagemaker
from sagemaker import get_execution_role
import boto3
import pandas as pd
import awswrangler as wr

In [1]:
pip install awswrangler

Looking in indexes: https://pypi.org/simple, https://pip.repos.neuron.amazonaws.com
Collecting awswrangler
  Downloading awswrangler-2.18.0-py3-none-any.whl (255 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 255.3/255.3 KB 28.0 MB/s eta 0:00:00
Collecting pg8000<2.0.0,>=1.20.0
  Downloading pg8000-1.29.4-py3-none-any.whl (51 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 51.4/51.4 KB 1.8 MB/s eta 0:00:00
Requirement already satisfied: boto3<2.0.0,>=1.24.11 in /home/ec2-user/anaconda3/envs/pytorch_p38/lib/python3.8/site-packages (from awswrangler) (1.26.26)
Requirement already satisfied: numpy<1.23.4,>=1.21.0 in /home/ec2-user/anaconda3/envs/pytorch_p38/lib/python3.8/site-packages (from awswrangler) (1.21.2)
Collecting opensearch-py<3,>=1
  Downloading opensearch_py-2.0.1-py2.py3-none-any.whl (214 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 214.7/214.7 KB 5.3 MB/s eta 0:00:00a 0:00:01
Collecting requests-aws4auth<2.0.0,>=1.1.1
  Downloading requests_aws4auth-1.1.2-py2.py3-none-any.whl (24 kB)
Requirement already satisfied: pyarrow<10.1.0,>=2.0.0 in /home/ec2-user/anaconda3/envs/pytorch_p38/lib/python3.8/site-packages (from awswrangler) (7.0.0)
Collecting pymysql<2.0.0,>=1.0.0
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.8/43.8 KB 12.8 MB/s eta 0:00:00
Requirement already satisfied: pandas!=1.5.0,<2.0.0,<=1.5.1,>=1.2.0 in /home/ec2-user/anaconda3/envs/pytorch_p38/lib/python3.8/site-packages (from awswrangler) (1.3.4)
Collecting redshift-connector<2.1.0,>=2.0.889
  Downloading redshift_connector-2.0.909-py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.1/112.1 KB 24.9 MB/s eta 0:00:00
Requirement already satisfied: openpyxl<3.1.0,>=3.0.0 in /home/ec2-user/anaconda3/envs/pytorch_p38/lib/python3.8/site-packages (from awswrangler) (3.0.9)
Collecting backoff<3.0.0,>=1.11.1
  Downloading backoff-2.2.1-py3-none-any.whl (15 kB)
Collecting progressbar2<5.0.0,>=4.0.0
  Downloading progressbar2-4.2.0-py2.py3-none-any.whl (27 kB)
Collecting gremlinpython<4.0.0,>=3.5.2
  Downloading gremlinpython-3.6.1-py2.py3-none-any.whl (73 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 73.3/73.3 KB 22.1 MB/s eta 0:00:00
Collecting botocore<2.0.0,>=1.27.11
  Downloading botocore-1.29.32-py3-none-any.whl (10.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.3/10.3 MB 31.9 MB/s eta 0:00:0000:0100:01
Collecting jsonpath-ng<2.0.0,>=1.5.3
  Downloading jsonpath_ng-1.5.3-py3-none-any.whl (29 kB)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /home/ec2-user/anaconda3/envs/pytorch_p38/lib/python3.8/site-packages (from boto3<2.0.0,>=1.24.11->awswrangler) (0.10.0)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in /home/ec2-user/anaconda3/envs/pytorch_p38/lib/python3.8/site-packages (from boto3<2.0.0,>=1.24.11->awswrangler) (0.6.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /home/ec2-user/anaconda3/envs/pytorch_p38/lib/python3.8/site-packages (from botocore<2.0.0,>=1.27.11->awswrangler) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /home/ec2-user/anaconda3/envs/pytorch_p38/lib/python3.8/site-packages (from botocore<2.0.0,>=1.27.11->awswrangler) (1.26.8)
Collecting isodate<1.0.0,>=0.6.0
  Downloading isodate-0.6.1-py2.py3-none-any.whl (41 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.7/41.7 KB 12.3 MB/s eta 0:00:00
Collecting aenum<4.0.0,>=1.4.5
  Downloading aenum-3.1.11-py3-none-any.whl (131 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 131.5/131.5 KB 33.4 MB/s eta 0:00:00
Requirement already satisfied: nest-asyncio in /home/ec2-user/anaconda3/envs/pytorch_p38/lib/python3.8/site-packages (from gremlinpython<4.0.0,>=3.5.2->awswrangler) (1.5.1)
Requirement already satisfied: aiohttp<=3.8.1,>=3.8.0 in /home/ec2-user/anaconda3/envs/pytorch_p38/lib/python3.8/site-packages (from gremlinpython<4.0.0,>=3.5.2->awswrangler) (3.8.1)
Requirement already satisfied: decorator in /home/ec2-user/anaconda3/envs/pytorch_p38/lib/python3.8/site-packages (from jsonpath-ng<2.0.0,>=1.5.3->awswrangler) (5.1.0)
Requirement already satisfied: six in /home/ec2-user/anaconda3/envs/pytorch_p38/lib/python3.8/site-packages (from jsonpath-ng<2.0.0,>=1.5.3->awswrangler) (1.16.0)
Requirement already satisfied: ply in /home/ec2-user/anaconda3/envs/pytorch_p38/lib/python3.8/site-packages (from jsonpath-ng<2.0.0,>=1.5.3->awswrangler) (3.11)
Requirement already satisfied: et-xmlfile in /home/ec2-user/anaconda3/envs/pytorch_p38/lib/python3.8/site-packages (from openpyxl<3.1.0,>=3.0.0->awswrangler) (1.0.1)
Requirement already satisfied: certifi in /home/ec2-user/anaconda3/envs/pytorch_p38/lib/python3.8/site-packages (from opensearch-py<3,>=1->awswrangler) (2021.10.8)
Requirement already satisfied: requests<3.0.0,>=2.4.0 in /home/ec2-user/anaconda3/envs/pytorch_p38/lib/python3.8/site-packages (from opensearch-py<3,>=1->awswrangler) (2.26.0)
Requirement already satisfied: pytz>=2017.3 in /home/ec2-user/anaconda3/envs/pytorch_p38/lib/python3.8/site-packages (from pandas!=1.5.0,<2.0.0,<=1.5.1,>=1.2.0->awswrangler) (2021.3)
Collecting scramp>=1.4.3
  Downloading scramp-1.4.4-py3-none-any.whl (13 kB)
Collecting python-utils>=3.0.0
  Downloading python_utils-3.4.5-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: packaging in /home/ec2-user/anaconda3/envs/pytorch_p38/lib/python3.8/site-packages (from redshift-connector<2.1.0,>=2.0.889->awswrangler) (20.9)
Requirement already satisfied: lxml>=4.6.5 in /home/ec2-user/anaconda3/envs/pytorch_p38/lib/python3.8/site-packages (from redshift-connector<2.1.0,>=2.0.889->awswrangler) (4.8.0)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.7.0 in /home/ec2-user/anaconda3/envs/pytorch_p38/lib/python3.8/site-packages (from redshift-connector<2.1.0,>=2.0.889->awswrangler) (4.10.0)
Requirement already satisfied: setuptools in /home/ec2-user/anaconda3/envs/pytorch_p38/lib/python3.8/site-packages (from redshift-connector<2.1.0,>=2.0.889->awswrangler) (59.2.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /home/ec2-user/anaconda3/envs/pytorch_p38/lib/python3.8/site-packages (from aiohttp<=3.8.1,>=3.8.0->gremlinpython<4.0.0,>=3.5.2->awswrangler) (4.0.1)
Requirement already satisfied: attrs>=17.3.0 in /home/ec2-user/anaconda3/envs/pytorch_p38/lib/python3.8/site-packages (from aiohttp<=3.8.1,>=3.8.0->gremlinpython<4.0.0,>=3.5.2->awswrangler) (21.2.0)
Requirement already satisfied: yarl<2.0,>=1.0 in /home/ec2-user/anaconda3/envs/pytorch_p38/lib/python3.8/site-packages (from aiohttp<=3.8.1,>=3.8.0->gremlinpython<4.0.0,>=3.5.2->awswrangler) (1.7.2)
Requirement already satisfied: frozenlist>=1.1.1 in /home/ec2-user/anaconda3/envs/pytorch_p38/lib/python3.8/site-packages (from aiohttp<=3.8.1,>=3.8.0->gremlinpython<4.0.0,>=3.5.2->awswrangler) (1.2.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /home/ec2-user/anaconda3/envs/pytorch_p38/lib/python3.8/site-packages (from aiohttp<=3.8.1,>=3.8.0->gremlinpython<4.0.0,>=3.5.2->awswrangler) (5.2.0)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /home/ec2-user/anaconda3/envs/pytorch_p38/lib/python3.8/site-packages (from aiohttp<=3.8.1,>=3.8.0->gremlinpython<4.0.0,>=3.5.2->awswrangler) (2.0.7)
Requirement already satisfied: aiosignal>=1.1.2 in /home/ec2-user/anaconda3/envs/pytorch_p38/lib/python3.8/site-packages (from aiohttp<=3.8.1,>=3.8.0->gremlinpython<4.0.0,>=3.5.2->awswrangler) (1.2.0)
Requirement already satisfied: soupsieve>1.2 in /home/ec2-user/anaconda3/envs/pytorch_p38/lib/python3.8/site-packages (from beautifulsoup4<5.0.0,>=4.7.0->redshift-connector<2.1.0,>=2.0.889->awswrangler) (2.3)
Requirement already satisfied: idna<4,>=2.5 in /home/ec2-user/anaconda3/envs/pytorch_p38/lib/python3.8/site-packages (from requests<3.0.0,>=2.4.0->opensearch-py<3,>=1->awswrangler) (3.1)
Collecting asn1crypto>=1.5.1
  Downloading asn1crypto-1.5.1-py2.py3-none-any.whl (105 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 105.0/105.0 KB 26.7 MB/s eta 0:00:00
Requirement already satisfied: pyparsing>=2.0.2 in /home/ec2-user/anaconda3/envs/pytorch_p38/lib/python3.8/site-packages (from packaging->redshift-connector<2.1.0,>=2.0.889->awswrangler) (3.0.6)
Requirement already satisfied: typing-extensions>=3.6.5 in /home/ec2-user/anaconda3/envs/pytorch_p38/lib/python3.8/site-packages (from async-timeout<5.0,>=4.0.0a3->aiohttp<=3.8.1,>=3.8.0->gremlinpython<4.0.0,>=3.5.2->awswrangler) (4.0.0)
Installing collected packages: asn1crypto, aenum, scramp, python-utils, pymysql, jsonpath-ng, isodate, backoff, requests-aws4auth, progressbar2, pg8000, opensearch-py, botocore, gremlinpython, redshift-connector, awswrangler
  Attempting uninstall: asn1crypto
    Found existing installation: asn1crypto 1.4.0
    Uninstalling asn1crypto-1.4.0:
      Successfully uninstalled asn1crypto-1.4.0
  Attempting uninstall: botocore
    Found existing installation: botocore 1.24.19
    Uninstalling botocore-1.24.19:
      Successfully uninstalled botocore-1.24.19
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
awscli 1.27.26 requires botocore==1.29.26, but you have botocore 1.29.32 which is incompatible.
aiobotocore 2.0.1 requires botocore<1.22.9,>=1.22.8, but you have botocore 1.29.32 which is incompatible.
Successfully installed aenum-3.1.11 asn1crypto-1.5.1 awswrangler-2.18.0 backoff-2.2.1 botocore-1.29.32 gremlinpython-3.6.1 isodate-0.6.1 jsonpath-ng-1.5.3 opensearch-py-2.0.1 pg8000-1.29.4 progressbar2-4.2.0 pymysql-1.0.2 python-utils-3.4.5 redshift-connector-2.0.909 requests-aws4auth-1.1.2 scramp-1.4.4
WARNING: You are using pip version 22.0.4; however, version 22.3.1 is available.
You should consider upgrading via the '/home/ec2-user/anaconda3/envs/pytorch_p38/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [3]:
train = wr.s3.read_csv(path='s3://bucket-to-snowflake/linearRegression_train.csv.gz', compression='gzip')
test = wr.s3.read_csv(path='s3://bucket-to-snowflake/linearRegression_test.csv.gz', compression='gzip')

In [4]:
train

,ORDER_ID,USER_ID,EVAL_SET,ORDER_NUMBER,PRODUCT_ID,REORDERED,USER_PREDICTOR,PRODUCT_PREDICTOR,UP_PREDICTOR
0,809799,155035,train,4,13944,1,4,248,1
1,809799,155035,train,4,22389,0,4,5,1
2,809799,155035,train,4,29576,0,4,2,1
3,809799,155035,train,4,26372,0,4,37,1
4,2089846,155038,train,12,29928,1,5,18,1
...,...,...,...,...,...,...,...,...,...
1084611,2546866,155029,train,17,3048,1,12,8,1
1084612,2546866,155029,train,17,34702,1,12,23,1
1084613,2546866,155029,train,17,13920,0,12,46,1
1084614,2546866,155029,train,17,7326,0,12,26,1
1084615,2546866,155029,train,17,8638,1,12,154,1

In [5]:
test

,ORDER_ID,USER_ID,ORDER_NUMBER,PRODUCT_ID,REORDERED,USER_PREDICTOR,PRODUCT_PREDICTOR,UP_PREDICTOR,ROWNO
0,1,112108,4,49302,1,8,8,1,1
1,1,112108,4,11109,1,8,144,1,2
2,1,112108,4,10246,0,8,1062,1,3
3,1,112108,4,49683,0,8,2413,1,4
4,1,112108,4,43633,1,8,24,1,5
...,...,...,...,...,...,...,...,...,...
299995,730552,47163,43,34308,1,9,30,1,299996
299996,730552,47163,43,14705,1,9,85,1,299997
299997,730552,47163,43,27243,1,9,329,1,299998
299998,730552,47163,43,36086,1,9,368,1,299999
299999,730552,47163,43,25930,1,9,53,1,300000

# model

In [6]:
from sklearn.linear_model import LogisticRegression

In [7]:
x_train, y_train = train.drop(['ORDER_ID','USER_ID','EVAL_SET','PRODUCT_ID','REORDERED'], axis = 1), train.REORDERED

In [8]:
log = LogisticRegression(random_state=42)

In [9]:
model = log.fit(x_train, y_train)

In [10]:
x_train

         ORDER_NUMBER  USER_PREDICTOR  PRODUCT_PREDICTOR  UP_PREDICTOR
0                   4               4                248             1
1                   4               4                  5             1
2                   4               4                  2             1
3                   4               4                 37             1
4                  12               5                 18             1
...               ...             ...                ...           ...
1084611            17              12                  8             1
1084612            17              12                 23             1
1084613            17              12                 46             1
1084614            17              12                 26             1
1084615            17              12                154             1

[1084616 rows x 4 columns]

# Prediction

In [11]:
test_simulation = test.drop(['ORDER_ID','USER_ID','PRODUCT_ID','REORDERED','ROWNO'], axis=1)

In [12]:
test_pred = model.predict(test_simulation).astype(int)

In [13]:
test_w_pred = test.assign(prediction = test_pred)

In [14]:
test_w_pred

,ORDER_ID,USER_ID,ORDER_NUMBER,PRODUCT_ID,REORDERED,USER_PREDICTOR,PRODUCT_PREDICTOR,UP_PREDICTOR,ROWNO,prediction
0,1,112108,4,49302,1,8,8,1,1,0
1,1,112108,4,11109,1,8,144,1,2,0
2,1,112108,4,10246,0,8,1062,1,3,0
3,1,112108,4,49683,0,8,2413,1,4,1
4,1,112108,4,43633,1,8,24,1,5,0
...,...,...,...,...,...,...,...,...,...,...
299995,730552,47163,43,34308,1,9,30,1,299996,1
299996,730552,47163,43,14705,1,9,85,1,299997,1
299997,730552,47163,43,27243,1,9,329,1,299998,1
299998,730552,47163,43,36086,1,9,368,1,299999,1
299999,730552,47163,43,25930,1,9,53,1,300000,1

# evaluation

In [15]:
from sklearn.metrics import f1_score

In [16]:
y_pred = test_w_pred['prediction']
y_true = test_w_pred['REORDERED'].astype(int)

In [17]:
f1_score(y_true,y_pred,average = 'weighted')

0.6293961731610169

# LOAD DATA TO S3 FOR dynamoDB

In [18]:
load_data = test_w_pred[['USER_ID','PRODUCT_ID','USER_PREDICTOR','PRODUCT_PREDICTOR','UP_PREDICTOR','prediction','REORDERED']]

In [19]:
load_data

,USER_ID,PRODUCT_ID,USER_PREDICTOR,PRODUCT_PREDICTOR,UP_PREDICTOR,prediction,REORDERED
0,112108,49302,8,8,1,0,1
1,112108,11109,8,144,1,0,1
2,112108,10246,8,1062,1,0,0
3,112108,49683,8,2413,1,1,0
4,112108,43633,8,24,1,0,1
...,...,...,...,...,...,...,...
299995,47163,34308,9,30,1,1,1
299996,47163,14705,9,85,1,1,1
299997,47163,27243,9,329,1,1,1
299998,47163,36086,9,368,1,1,1
299999,47163,25930,9,53,1,1,1

In [21]:
# save dateframe to csv file in this working directory
file_name = "load_data.csv"
load_data.to_csv(file_name)    #df.to_csv(file_name)
#load_data.to_csv('load_data.csv')

In [22]:
# load data to the specific bucket with the preferred name
s3 = boto3.resource('s3')
s3.meta.client.upload_file(file_name, 'sagemaker-pred-data', 'test_w_pred0')