In [1]:
import sagemaker
from sagemaker import get_execution_role
import boto3
import pandas as pd
import awswrangler as wr

In [2]:
# pip install awswrangler

# 1. load data from S3

In [3]:
order = wr.s3.read_csv(path="s3://bucket-to-snowflake/orders.csv")
op_train = wr.s3.read_csv(path='s3://bucket-to-snowflake/order_products__train.csv.gz', compression='gzip')
op_prior = wr.s3.read_csv(path='s3://bucket-to-snowflake/order_products__prior.csv.gz', compression='gzip')
product = wr.s3.read_csv(path='s3://bucket-to-snowflake/products.csv')

# 2. reshape data

In [4]:
# change data type
order['eval_set'] = order['eval_set'].astype('category')
product['product_name'] = product['product_name'].astype('category')

In [5]:
op = order.merge(op_prior, on = 'order_id', how = 'inner')

In [17]:
# user predictor 
user = op.groupby('user_id')['order_number'].count().to_frame('user_total_orders')

In [7]:
# product predictor
products = op.groupby('product_id')['order_number'].count().to_frame('product_total_purchase')

In [9]:
# user product predictor
user_product = op.groupby(['user_id','product_id'])['order_id'].count().to_frame('user_total_on_product')

In [18]:
user = user.reset_index()
user_product = user_product.reset_index()
products = products.reset_index()

## merge predictors

In [19]:
predictor0 = user_product.merge(user, on = 'user_id', how = 'left')

In [20]:
predictor = predictor0.merge(products, on = 'product_id', how = 'left')

In [21]:
predictor

,user_id,product_id,user_total_on_product,user_total_orders,product_total_purchase
0,1,196,10,59,35791
1,1,10258,9,59,1946
2,1,10326,1,59,5526
3,1,12427,10,59,6476
4,1,13032,3,59,3751
...,...,...,...,...,...
13307948,206209,43961,3,129,55371
13307949,206209,44325,1,129,3485
13307950,206209,48370,1,129,3934
13307951,206209,48697,1,129,9783
13307952,206209,48742,2,129,1723

# 3. training dataset

In [23]:
order_s = order[['user_id','eval_set','order_id']]

In [ ]:
order_predictor = predictor.merge(order_s, on = 'user_id', how = 'left')

22:15 NOV 30 2022